\#*\#
build/bin/*
build/tests/*
build/xdp/*
build/xdp_test/*
docsite/build/*
*~
*.swp
*.swo
*.o
*.pyc
*.gcda
*.gcno
*.html
.DS_Store
src/rpcgen/*.o
src/rpcgen/*.c
src/rpcgen/*.h
__pycache__
lcov/*
cov/*
lib/*
.vscode/*
docs/design/out
docs/out
mizar/proto/*pb2_*.py
mizar/proto/*pb2.py