[Unit]
Description=Transit service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/transitd

[Install]
WantedBy=multi-user.target